body{
    background-color: #d5d5d5;
    font-family: system-ui;

}
.container{
    background-color: #e9e7ea;
    width: 1000px;
    max-width: 100%;
    margin: auto;
    padding: 50px;
    box-shadow: 0 10px 50px #858585;
    display: grid;
    grid-template-columns: 35% 60%;
    column-gap: 5%;
    row-gap: 30px;

}
.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.avatar{
    display: flex;
    justify-content: center;
}