.header{
    background-color: aquamarine;
    border-radius: 15px;
}
.avatar{
    width: 200px;
    border-radius: 20px;
    
}
.Skills{
    background-color: rgb(178, 238, 204);
    border-radius: 15px;
}
.About{
    background-color: rgb(240, 221, 180);
    border-radius: 15px;
}
.Contacts{
    background-color: rgb(226, 241, 184);
    border-radius: 15px;
}
.Code{
    background-color: rgb(200, 179, 214);
    border-radius: 15px;
}
.Education{
    background-color: rgb(230, 165, 195);
    border-radius: 15px;
}